@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

    .nuke-text-sans {
        font-family: 'IBM Plex Sans', 'sans', 'serif';
        direction: ltr;
    }

    .nuke-text-serif {
        font-family: 'IBM Plex Serif', 'serif';
        direction: ltr;
    }

    .nuke-text-mono {
        font-family: 'IBM Plex Mono', 'monospace';
        direction: ltr;
    }

    .nuke-text-body-compact-02 {
        font-size: 16px;
        font-family: 'IBM Plex sans';
        line-height: 22px;
        letter-spacing: 0px;
        font-weight: 400;
    }

    .nuke-text-body-01 {
        font-size: 14px;
        font-family: 'IBM Plex sans';
        line-height: 20px;
        letter-spacing: 0.16px;
        font-weight: 400;
    }

    .nuke-text-body-02 {
        font-size: 16px;
        font-family: 'IBM Plex sans';
        line-height: 24px;
        letter-spacing: 0px;
        font-weight: 400;
    }

    .nuke-text-code-01 {
        font-size: 12px;
        font-family: 'IBM Plex mono';
        line-height: 16px;
        letter-spacing: 0.32px;
        font-weight: 400;
    }

    .nuke-text-code-02 {
        font-size: 14px;
        font-family: 'IBM Plex mono';
        line-height: 20px;
        letter-spacing: 0.32px;
        font-weight: 400;
    }

    .nuke-text-label-01 {
        font-size: 12px;
        font-family: 'IBM Plex sans';
        line-height: 16px;
        letter-spacing: 0.32px;
        font-weight: 400;
    }

    .nuke-text-label-02 {
        font-size: 14px;
        font-family: 'IBM Plex sans';
        line-height: 18px;
        letter-spacing: 0.16px;
        font-weight: 400;
    }

    .nuke-text-helper-text-01 {
        font-size: 12px;
        font-family: 'IBM Plex sans';
        line-height: 16px;
        letter-spacing: 0.32px;
        font-weight: 400;
    }

    .nuke-text-helper-text-02 {
        font-size: 14px;
        font-family: 'IBM Plex sans';
        line-height: 18px;
        letter-spacing: 0.16px;
        font-weight: 400;
    }

    .nuke-text-legal-01 {
        font-size: 12px;
        font-family: 'IBM Plex sans';
        line-height: 16px;
        letter-spacing: 0.32px;
        font-weight: 400;
    }

    .nuke-text-legal-02 {
        font-size: 14px;
        font-family: 'IBM Plex sans';
        line-height: 18px;
        letter-spacing: 0.16px;
        font-weight: 400;
    }

    .nuke-text-heading-compact-01 {
        font-size: 14px;
        font-family: 'IBM Plex sans';
        line-height: 18px;
        letter-spacing: 0.16px;
        font-weight: 600;
    }

    .nuke-text-heading-compact-02 {
        font-size: 16px;
        font-family: 'IBM Plex sans';
        line-height: 22px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    .nuke-text-heading-01 {
        font-size: 14px;
        font-family: 'IBM Plex sans';
        line-height: 20px;
        letter-spacing: 0.16px;
        font-weight: 600;
    }

    .nuke-text-heading-02 {
        font-size: 16px;
        font-family: 'IBM Plex sans';
        line-height: 24px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    .nuke-text-heading-03 {
        font-size: 20px;
        font-family: 'IBM Plex sans';
        line-height: 28px;
        letter-spacing: 0px;
        font-weight: 400;
    }

    .nuke-text-heading-04 {
        font-size: 28px;
        font-family: 'IBM Plex sans';
        line-height: 36px;
        letter-spacing: 0px;
        font-weight: 400;
    }

    .nuke-text-heading-05 {
        font-size: 32px;
        font-family: 'IBM Plex sans';
        line-height: 40px;
        letter-spacing: 0px;
        font-weight: 300;
    }

    .nuke-text-heading-06 {
        font-size: 42px;
        font-family: 'IBM Plex sans';
        line-height: 50px;
        letter-spacing: 0px;
        font-weight: 300;
    }

    .nuke-text-heading-07 {
        font-size: 54px;
        font-family: 'IBM Plex sans';
        line-height: 64px;
        letter-spacing: 0px;
        font-weight: 300;
    }




    .nuke-transition-productive-entrance {
        transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
    }
    .nuke-transition-productive-standard {
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
    }
    .nuke-transition-productive-exiting {
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
    }

    .nuke-transition-expressive-entrance {
        transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
    }
    .nuke-transition-expressive-standard {
        transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
    }
    .nuke-transition-expressive-exiting {
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
    }


    .nuke-transition-fast-01 {
        transition-duration: 70ms ;
    }
    .nuke-transition-fast-02 {
        transition-duration: 110ms ;
    }
    .nuke-transition-moderate-01 {
        transition-duration: 150ms ;
    }
    .nuke-transition-moderate-02 {
        transition-duration: 240ms;
    }
    .nuke-transition-slow-01 {
        transition-duration: 400ms;
    }
    .nuke-transition-slow-02 {
        transition-duration: 700ms;
    }

    .nuke-transition-productive-entrance-fast-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
        transition-duration: 70ms ;
    }
    .nuke-transition-productive-entrance-fast-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
        transition-duration: 110ms ;
    }
    .nuke-transition-productive-entrance-moderate-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
        transition-duration: 150ms ;
    }
    .nuke-transition-productive-entrance-moderate-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
        transition-duration: 240ms;
    }
    .nuke-transition-productive-entrance-slow-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
        transition-duration: 400ms;
    }
    .nuke-transition-productive-entrance-slow-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
        transition-duration: 700ms;
    }

    .nuke-transition-productive-standard-fast-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
        transition-duration: 70ms ;
    }
    .nuke-transition-productive-standard-fast-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
        transition-duration: 110ms ;
    }
    .nuke-transition-productive-standard-moderate-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
        transition-duration: 150ms ;
    }
    .nuke-transition-productive-standard-moderate-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
        transition-duration: 240ms;
    }
    .nuke-transition-productive-standard-slow-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
        transition-duration: 400ms;
    }
    .nuke-transition-productive-standard-slow-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
        transition-duration: 700ms;
    }

    .nuke-transition-productive-exiting-fast-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 70ms ;
    }
    .nuke-transition-productive-exiting-fast-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 110ms ;
    }
    .nuke-transition-productive-exiting-moderate-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 150ms ;
    }
    .nuke-transition-productive-exiting-moderate-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 240ms;
    }
    .nuke-transition-productive-exiting-slow-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 400ms;
    }
    .nuke-transition-productive-exiting-slow-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 700ms;
    }

    .nuke-transition-expressive-entrance-fast-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
        transition-duration: 70ms ;
    }
    .nuke-transition-expressive-entrance-fast-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
        transition-duration: 110ms ;
    }
    .nuke-transition-expressive-entrance-moderate-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
        transition-duration: 150ms ;
    }
    .nuke-transition-expressive-entrance-moderate-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
        transition-duration: 240ms;
    }
    .nuke-transition-expressive-entrance-slow-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
        transition-duration: 400ms;
    }
    .nuke-transition-expressive-entrance-slow-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
        transition-duration: 700ms;
    }

    .nuke-transition-expressive-standard-fast-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
        transition-duration: 70ms ;
    }
    .nuke-transition-expressive-standard-fast-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
        transition-duration: 110ms ;
    }
    .nuke-transition-expressive-standard-moderate-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
        transition-duration: 150ms ;
    }
    .nuke-transition-expressive-standard-moderate-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
        transition-duration: 240ms;
    }
    .nuke-transition-expressive-standard-slow-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
        transition-duration: 400ms;
    }
    .nuke-transition-expressive-standard-slow-02 {
        transition-timing-function: cubic-bezier(0.4, 0.14, 0.3, 1);
        transition-duration: 700ms;
    }

    .nuke-transition-expressive-exiting-fast-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 70ms ;
    }
    .nuke-transition-expressive-exiting-fast-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 110ms ;
    }
    .nuke-transition-expressive-exiting-moderate-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 150ms ;
    }
    .nuke-transition-expressive-exiting-moderate-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 240ms;
    }
    .nuke-transition-expressive-exiting-slow-01 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 400ms;
    }
    .nuke-transition-expressive-exiting-slow-02 {
        transition: all;
        transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
        transition-duration: 700ms;
    }

    .nuke-transition-all {
        transition-property: all;
    }
    .nuke-transition-none {
        transition-property: none;
    }
    .nuke-transition-color {
        transition-property: color;
    }
    .nuke-transition-background-color {
        transition-property: background-color;
    }
    .nuke-transition-border-color {
        transition-property: border-color;
    }
    .nuke-transition-fill {
        transition-property: fill;
    }
    .nuke-transition-stroke {
        transition-property: stroke;
    }
    .nuke-transition-transform {
        transition-property: transform;
    }
    .nuke-transition-opacity {
        transition-property: opacity;
    }
    .nuke-transition-box-shadow {
        transition-property: box-shadow;
    }


}