/* ./src/index.css */
/*@import "nuk-style.scss";*/
@import "nuk-style";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    font-family: "IBM Plex Sans";
  }
  code {
    font-family: "IBM Plex Mono";
  }
  blockquote {
    font-family: "IBM Plex Serif";
  }
}