@import './styles/nuk-static.css';
@import "tailwindcss";


@theme {
    --color-primary-10: #f2e2ff;
    --color-primary-20: #d9bcf3;
    --color-primary-30: #c99eef;
    --color-primary-40: #a57ccd;
    --color-primary-50: #8159ab;
    --color-primary-60: #6f489a;
    --color-primary-70: #5d3689;
    --color-primary-80: #4b2578;
    --color-primary-90: #381366;
    --color-primary-100: #240b43;

    --color-dark-10: #606060;
    --color-dark-20: #545454;
    --color-dark-30: #484848;
    --color-dark-40: #3c3c3c;
    --color-dark-50: #303030;
    --color-dark-60: #242424;
    --color-dark-70: #181818;
    --color-dark-80: #0c0c0c;
    --color-dark-90: #060606;
    --color-dark-100: #000000;

    --color-light-10: #ffffff;
    --color-light-20: #fafafa;
    --color-light-30: #f6f6f6;
    --color-light-40: #ececec;
    --color-light-50: #d8d8d8;
    --color-light-60: #b0b0b0;
    --color-light-70: #9c9c9c;
    --color-light-80: #888888;
    --color-light-90: #7c7c7c;
    --color-light-100: #717171;

    --color-warning-10: #ffdd60;
    --color-warning-20: #ffd640;
    --color-warning-30: #ffc800;
    --color-warning-40: #e8b600;
    --color-warning-50: #d3a500;

    --color-danger-10: #d84154;
    --color-danger-20: #c42134;
    --color-danger-30: #b00014;
    --color-danger-40: #a00012;
    --color-danger-50: #910010;

    --color-success-10: #aefcbb;
    --color-success-20: #83d792;
    --color-success-30: #57b269;
    --color-success-40: #2c8d40;
    --color-success-50: #167a2b;

    --spacing-0px: 0px;
    --spacing-1px: 1px;
    --spacing-2px: 2px;
    --spacing-4px: 4px;
    --spacing-6px: 6px;
    --spacing-8px: 8px;
    --spacing-12px: 12px;
    --spacing-16px: 16px;
    --spacing-24px: 24px;
    --spacing-32px: 32px;
    --spacing-48px: 48px;
    --spacing-64px: 64px;
    --spacing-96px: 96px;
    --spacing-128px: 128px;


    --breakpoint-xs: 0px;
    --breakpoint-sm: 320px;
    --breakpoint-md: 672px;
    --breakpoint-lg: 1056px;
    --breakpoint-xl: 1312px;
    --breakpoint-mx: 1584px;

}


.nuke-text-fluid-heading-03 {
    @apply xs:text-[20px] xs:leading-[28px] xs:tracking-[0px] xs:font-[400]
    sm:text-[20px] sm:leading-[28px] sm:tracking-[0px] sm:font-[400]
    md:text-[20px] md:leading-[28px] md:tracking-[0px] md:font-[400]
    lg:text-[20px] lg:leading-[28px] lg:tracking-[0px] lg:font-[400]
    xl:text-[20px] xl:leading-[28px] xl:tracking-[0px] xl:font-[400]
    mx:text-[24px] mx:leading-[28px] mx:tracking-[0px] mx:font-[400]
}

.nuke-text-fluid-heading-04 {
    @apply xs:text-[28px] xs:leading-[36px] xs:tracking-[0px] xs:font-[400]
    sm:text-[28px] sm:leading-[36px] sm:tracking-[0px] sm:font-[400]
    md:text-[28px] md:leading-[36px] md:tracking-[0px] md:font-[400]
    lg:text-[28px] lg:leading-[36px] lg:tracking-[0px] lg:font-[400]
    xl:text-[32px] xl:leading-[40px] xl:tracking-[0px] xl:font-[400]
    mx:text-[32px] mx:leading-[40px] mx:tracking-[0px] mx:font-[400]
}

.nuke-text-fluid-heading-05 {
    @apply xs:text-[32px] xs:leading-[40px] xs:tracking-[0px] xs:font-[300]
    sm:text-[32px] sm:leading-[40px] sm:tracking-[0px] sm:font-[300]
    md:text-[36px] md:leading-[44px] md:tracking-[0px] md:font-[300]
    lg:text-[42px] lg:leading-[50px] lg:tracking-[0px] lg:font-[300]
    xl:text-[48px] xl:leading-[56px] xl:tracking-[0px] xl:font-[300]
    mx:text-[60px] mx:leading-[70px] mx:tracking-[0px] mx:font-[300]
}

.nuke-text-fluid-heading-06 {
    @apply xs:text-[32px] xs:leading-[40px] xs:tracking-[0px] xs:font-[600]
    sm:text-[32px] sm:leading-[40px] sm:tracking-[0px] sm:font-[600]
    md:text-[36px] md:leading-[44px] md:tracking-[0px] md:font-[600]
    lg:text-[42px] lg:leading-[50px] lg:tracking-[0px] lg:font-[600]
    xl:text-[48px] xl:leading-[56px] xl:tracking-[0px] xl:font-[600]
    mx:text-[60px] mx:leading-[70px] mx:tracking-[0px] mx:font-[600]
}

.nuke-text-fluid-paragraph-01 {
    @apply xs:text-[24px] xs:leading-[30px] xs:tracking-[0px] xs:font-[300]
    sm:text-[24px] sm:leading-[30px] sm:tracking-[0px] sm:font-[300]
    md:text-[24px] md:leading-[30px] md:tracking-[0px] md:font-[300]
    lg:text-[28px] lg:leading-[36px] lg:tracking-[0px] lg:font-[300]
    xl:text-[28px] xl:leading-[36px] xl:tracking-[0px] xl:font-[300]
    mx:text-[32px] mx:leading-[40px] mx:tracking-[0px] mx:font-[300]
}

.nuke-text-fluid-quotation-01 {
    @apply xs:text-[20px] xs:leading-[26px] xs:tracking-[0px] xs:font-[400]
    sm:text-[20px] sm:leading-[26px] sm:tracking-[0px] sm:font-[400]
    md:text-[20px] md:leading-[26px] md:tracking-[0px] md:font-[400]
    lg:text-[24px] lg:leading-[30px] lg:tracking-[0px] lg:font-[400]
    xl:text-[28px] xl:leading-[36px] xl:tracking-[0px] xl:font-[400]
    mx:text-[32px] mx:leading-[40px] mx:tracking-[0px] mx:font-[400]
}

.nuke-text-fluid-quotation-02 {
    @apply xs:text-[32px] xs:leading-[40px] xs:tracking-[0px] xs:font-[300]
    sm:text-[32px] sm:leading-[40px] sm:tracking-[0px] sm:font-[300]
    md:text-[36px] md:leading-[44px] md:tracking-[0px] md:font-[300]
    lg:text-[42px] lg:leading-[50px] lg:tracking-[0px] lg:font-[300]
    xl:text-[48px] xl:leading-[56px] xl:tracking-[0px] xl:font-[300]
    mx:text-[60px] mx:leading-[70px] mx:tracking-[0px] mx:font-[300]
}

.nuke-text-fluid-display-01 {
    @apply xs:text-[42px] xs:leading-[50px] xs:tracking-[0px] xs:font-[300]
    sm:text-[42px] sm:leading-[50px] sm:tracking-[0px] sm:font-[300]
    md:text-[42px] md:leading-[50px] md:tracking-[0px] md:font-[300]
    lg:text-[54px] lg:leading-[64px] lg:tracking-[0px] lg:font-[300]
    xl:text-[60px] xl:leading-[70px] xl:tracking-[0px] xl:font-[300]
    mx:text-[76px] mx:leading-[86px] mx:tracking-[0px] mx:font-[300]
}

.nuke-text-fluid-display-02 {
    @apply xs:text-[42px] xs:leading-[50px] xs:tracking-[0px] xs:font-[600]
    sm:text-[42px] sm:leading-[50px] sm:tracking-[0px] sm:font-[600]
    md:text-[42px] md:leading-[50px] md:tracking-[0px] md:font-[600]
    lg:text-[54px] lg:leading-[64px] lg:tracking-[0px] lg:font-[600]
    xl:text-[60px] xl:leading-[70px] xl:tracking-[0px] xl:font-[600]
    mx:text-[76px] mx:leading-[86px] mx:tracking-[0px] mx:font-[600]
}

.nuke-text-fluid-display-03 {
    @apply xs:text-[42px] xs:leading-[50px] xs:tracking-[0px] xs:font-[300]
    sm:text-[42px] sm:leading-[50px] sm:tracking-[0px] sm:font-[300]
    md:text-[54px] md:leading-[64px] md:tracking-[0px] md:font-[300]
    lg:text-[60px] lg:leading-[70px] lg:tracking-[0px] lg:font-[300]
    xl:text-[76px] xl:leading-[86px] xl:tracking-[0px] xl:font-[300]
    mx:text-[84px] mx:leading-[94px] mx:tracking-[0px] mx:font-[300]
}

.nuke-text-fluid-display-04 {
    @apply xs:text-[42px] xs:leading-[50px] xs:tracking-[0px] xs:font-[300]
    sm:text-[42px] sm:leading-[50px] sm:tracking-[0px] sm:font-[300]
    md:text-[68px] md:leading-[78px] md:tracking-[-0.64px] md:font-[300]
    lg:text-[92px] lg:leading-[102px] lg:tracking-[-0.64px] lg:font-[300]
    xl:text-[122px] xl:leading-[130px] xl:tracking-[-0.64px] xl:font-[300]
    mx:text-[156px] mx:leading-[164px] mx:tracking-[-0.96px] mx:font-[300];
}
